.n-contents
  = image_tag "book1.jpeg",width:"100%",height:"800"
  .n-content
    = form_with model: @library, url: application_path, local: true do |form|
      .n-content__title
        = "#{current_user.nickname }さんのアプリケーションを追加しましょう"
      .n-content__box
        %label
          - if @library.twitter == 1
            .twitter
              %i.fab.fa-twitter
                = form.check_box(:twitter, checked: "checked", checked_value: 1, unchecked_value: 0)
          - else
            .twitter
              %i.fab.fa-twitter
                = form.check_box(:twitter, checked_value: 0, unchecked_value: 1)
        %label
          - if @library.line == 1
            .line
              %i.fab.fa-line
                = form.check_box(:line, checked: "checked", checked_value: 1, unchecked_value: 0)
          - else
            .line
              %i.fab.fa-line
                = form.check_box(:line, checked_value: 1, unchecked_value: 0)
        %label
          - if @library.instagram == 1
            .instagram
              %i.fab.fa-instagram
                = form.check_box(:instagram, checked: "checked", checked_value: 1, unchecked_value: 0)
          - else
            .instagram
              %i.fab.fa-instagram
                = form.check_box(:instagram, checked_value: 1, unchecked_value: 0)
        %label
          - if @library.discord == 1
            .discord
              %i.fab.fa-discord
                = form.check_box(:discord, checked: "checked", checked_value: 1, unchecked_value: 0)
          - else
            .discord
              %i.fab.fa-discord
                = form.check_box(:discord, checked_value: 1, unchecked_value: 0)
        %label
          - if @library.steam == 1
            .steam
              %i.fab.fa-steam
                = form.check_box(:steam, checked: "checked", checked_value: 1, unchecked_value: 0)
          - else
            .steam
              %i.fab.fa-steam
                = form.check_box(:steam, checked_value: 1, unchecked_value: 0)
        %label
          - if @library.skype == 1
            .skype
              %i.fab.fa-skype
                = form.check_box(:skype, checked: "checked", checked_value: 1, unchecked_value: 0)
          - else
            .skype
            %i.fab.fa-skype
              = form.check_box(:skype, checked_value: 1, unchecked_value: 0)
      .n-content__btm
        = form.submit "更新", class:"btm"
      .n-content__btm
        = link_to application_path(current_user.id) do
          戻る


<div class="fx1">
  <div class="checkedexample">
    <label for="labeltest">
      <span class="fx2">ここをクリック</span>
    </label>
    <input type="checkbox" id="labeltest"/>
      <div class="appear">
        <p>隠していた文字が出てきます。</p>
      </div>
  </div>
</div>