.n-contents
  = image_tag "book2.jpeg",width:"100%",height:"800"
  .n-content
    .n-content__title
      = "#{current_user.nickname }さんのアプリケーションはございますか？"
    .n-content__box
      #twitter
        %i.fab.fa-twitter
      #line
        %i.fab.fa-line
      #instagram
        %i.fab.fa-instagram
      #discord
        %i.fab.fa-discord
      #steam
        %i.fab.fa-steam
      #skype
        %i.fab.fa-skype
    .n-content__btm
      = link_to "#" do
        決定
    .n-content__btm
      = link_to root_path do
        戻る