.n-contents
  = image_tag "book1.jpeg",width:"100%",height:"800"
  .n-content
    = form_with url: applications_path ,local: true do |form|
      .n-content__title
        = "#{current_user.nickname }さんのアプリケーションはございますか？"
        %br/
        = flash[:alert]
      .n-content__box
        %label
          .twitter
            %i.fab.fa-twitter
              = form.check_box(:twitter, checked_value: 1, unchecked_value: 0)
        %label
          .line
            %i.fab.fa-line
              = form.check_box(:line, checked_value: 1, unchecked_value: 0)
        %label
          .instagram
            %i.fab.fa-instagram
              = form.check_box(:instagram, checked_value: 1, unchecked_value: 0)
        %label
          .discord
            %i.fab.fa-discord
              = form.check_box(:discord, checked_value: 1, unchecked_value: 0)
        %label
          .steam
            %i.fab.fa-steam
              = form.check_box(:steam, checked_value: 1, unchecked_value: 0)
        %label
          .skype
            %i.fab.fa-skype
              = form.check_box(:skype, checked_value: 1, unchecked_value: 0)
      .n-content__btm
        = form.submit "決定", class:"btm"
      .n-content__btm
        = link_to root_path do
          戻る