.s-contents
  = image_tag "book4.jpeg",width:"100%",height:"800"
  .s-content
    .t-logout
      = link_to destroy_user_session_path, method: :delete do
        ログアウト
    .s-content__title
      = "#{current_user.nickname}さんようこそ、あなたのライブラリです。"
    .s-content__box
      #id_twitter
        - unless @library.twitter != 1
          %i.fab.fa-twitter
      #id_line
        - unless @library.line != 1
          %i.fab.fa-line
      #id_instagram
        - unless @library.instagram != 1
          %i.fab.fa-instagram
      #id_discord
        - unless @library.discord != 1
          %i.fab.fa-discord
      #id_steam
        - unless @library.steam != 1
          %i.fab.fa-steam
      #id_skype
        - unless @library.skype != 1
          %i.fab.fa-skype
    .s-content__btm
      .s-content__box--btn
        = link_to edit_application_path(current_user.id) do
          %button.btn
            編集
        = link_to application_path(current_user.id), method: :delete do
          %button.btn
            削除