.passwords
  = image_tag "book.jpeg",width:"100%",height:"800"
  .password
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .password__name
        パスワードをお忘れですか？？
      .password__field
        = f.label :メールアドレス
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .password__actions
        = f.submit "送信"
    .link
      = link_to root_path do
        トップページはこちら
    = render "devise/shared/links"
